{% load staticfiles %}
<html>
<head>
    <title>Django Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!--引入 github 风格语法高亮-->
    <link rel="stylesheet" href="{% static 'blog/css/pygments/github.css' %}">
</head>
<body>


<!--正文-->
<div >
    <div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>