{% load staticfiles %}
{% load custom_markdown %}
<html>
<head>
    <title>Django Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <!--引入 github 风格语法高亮-->
    <link rel="stylesheet" href="{% static 'blog/css/pygments/github.css' %}">
</head>
<body>


<div class="post">
    <section class="post">

         <div class="date" >
             <p>{{ post.date_time|date:"Y /m /d"}}</p>
         </div>

        <div class="title">
            <h2>{{ post.title }}</h2>
        </div>
        <div class="content">
            <p>{{ post.text|custom_markdown }}</p>
        </div>

    </section>
</div>



