.h1 a {
        margin: 0 auto;
        text-align:center;
        color: #828282;
    }

  h2 a {

     }

 body {
        font-family: "Helvetica", "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "sans-serif";
        padding: 20px;
        margin: 0;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        @media (min-width: 992px) {
             padding: 35px 50px;
        }
    }

 .avatar_div {
     display: block;
     height: 120px;
     width: 120px;
     margin: 0 auto;
     text-align:center;
 }
 .avatar {
        height: 120px;
        width: 120px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
 }

 .date {
         float: bottom;
         color: #828282;
     }
 .post {
         font-size: 1em;
         line-height: 1.68;
         width: 60%;
         letter-spacing: 0.03em;
         color: #535353;
         font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
         font-weight: 400;
         -webkit-font-smoothing: antialiased;
         margin-bottom: 70px;
         margin-top: 20px;
         text-align:center;
         margin:0px auto;
     }
